.todoList {
    display: flex;
    gap: 10px;
    border: 2px solid rgb(5, 46, 17);
    margin: 10px;
    padding: 5px;
    align-items: center;
    border-radius: 8px;
}
.fa-solid{
    color: green;
    size: 20px;
}
.fa-regular{
    color:red;
    size: 20px;
}